###  Import the necessary libraries

In [32]:
import pandas as pd

### Assign it to a variable called chipo.

In [33]:
chipo = pd.read_csv("chipotle.tsv", sep = '\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

###  How many products cost more than $10.00?

In [34]:
chipo["item_price"] = chipo.item_price.apply(lambda x : float(x[1:]))
chipo_one_prod = chipo[chipo.quantity == 1].drop_duplicates(["quantity","item_name","item_price"])
chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()

25

###  What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [35]:
chipo_one_prod = chipo[chipo.quantity==1]
chipo_one_prod[["item_name","item_price"]].drop_duplicates()

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
...                                     ...         ...
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[135 rows x 2 columns]

### Different types of chicken bowl ordered

In [38]:
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)].drop_duplicates(["choice_description","item_price"])

,order_id,quantity,item_name,choice_description,item_price
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
...,...,...,...,...,...
4540,1805,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",11.25
4553,1810,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Black Beans, Sour ...",11.25
4589,1825,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.25
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75

###  Sort by the name of the item

In [40]:
chipo.item_name.sort_values()
chipo.sort_values(by = "item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### What was the quantity of the most expensive item ordered?

In [41]:
chipo.sort_values(by = "item_price", ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

###  How many times was a Veggie Salad Bowl ordered?

In [42]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

###  How many times did someone order more than one Canned Soda?

In [43]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20