### Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [13]:
data1 = pd.Series(np.random.randint(1,5,100))
data2 = pd.Series(np.random.randint(1,4,100))
data3 = pd.Series(np.random.randint(10000, 30001, 100))

###  Let's create a DataFrame by joinning the Series by column

In [18]:
df = pd.concat([data1, data2, data3], axis=1)
df.head()

   0  1      2
0  3  3  16109
1  2  3  27994
2  1  2  14563
3  4  2  18888
4  3  2  12041

### Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [19]:
df.rename(columns = {0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df.head()

   bedrs  bathrs  price_sqr_meter
0      3       3            16109
1      2       3            27994
2      1       2            14563
3      4       2            18888
4      3       2            12041

###  Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [20]:
bigcolumn = pd.concat([data1, data2, data3], axis=0)

###  Oops, it seems it is going only until index 99. Is it true?

In [21]:
bigcolumn.shape

(300,)

In [22]:
bigcolumn

0         3
1         2
2         1
3         4
4         3
      ...
95    19692
96    20841
97    12558
98    22824
99    17696
Length: 300, dtype: int32

###  Reindex the DataFrame so it goes from 0 to 299

In [24]:
bigcolumn.reset_index(drop=True, inplace=True)

In [25]:
bigcolumn

0          3
1          2
2          1
3          4
4          3
       ...
295    19692
296    20841
297    12558
298    22824
299    17696
Length: 300, dtype: int32