### Python datetime

In [1]:
import datetime as dt

In [2]:
today = dt.date(year=2019, month=12, day=22)

In [3]:
today.year, today.month, today.day

(2019, 12, 22)

In [4]:
today = dt.datetime.now()

In [5]:
print(today)

2022-08-30 19:41:19.559076

In [6]:
today.year, today.month, today.day, today.hour, today.minute, today.second, today.microsecond

(2022, 8, 30, 19, 41, 19, 559076)

### Timestamp

In [7]:
import pandas as pd

In [8]:
pd.Timestamp.now()

Timestamp('2022-08-30 19:41:20.065073')

In [9]:
pd.Timestamp("2022-12-22"), pd.Timestamp("2022, 12, 22"), pd.Timestamp("2022/12/22")

(Timestamp('2022-12-22 00:00:00'),
 Timestamp('2022-12-22 00:00:00'),
 Timestamp('2022-12-22 00:00:00'))

In [10]:
pd.Timestamp("2022-12-22 17:35:20"), pd.Timestamp("2022-12-22 5:35:20 PM")

(Timestamp('2022-12-22 17:35:20'), Timestamp('2022-12-22 17:35:20'))

### DateTimeIndex

In [11]:
dates = ["2022-12-22","2022-12-23","2022-12-24"]

In [12]:
type(dates)

list

In [13]:
pd.DatetimeIndex(dates)

DatetimeIndex(['2022-12-22', '2022-12-23', '2022-12-24'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = [dt.date(2022,12,22), dt.date(2022,12,23), dt.date(2022,12,24)]

In [15]:
print(dates)

[datetime.date(2022, 12, 22), datetime.date(2022, 12, 23), datetime.date(2022, 12, 24)]

In [16]:
dateindex = pd.DatetimeIndex(dates)
dateindex

DatetimeIndex(['2022-12-22', '2022-12-23', '2022-12-24'], dtype='datetime64[ns]', freq=None)

In [17]:
sales = [100, 110, 90]
pd.Series(data=sales, index=dateindex)

2022-12-22    100
2022-12-23    110
2022-12-24     90
dtype: int64

### pd.to_datetime()

In [18]:
pd.to_datetime("2012/12/22")

Timestamp('2012-12-22 00:00:00')

In [19]:
pd.to_datetime(dt.date(2022,12,22))

Timestamp('2022-12-22 00:00:00')

In [20]:
pd.to_datetime(dt.datetime(2022,12,22,17,53,30))

Timestamp('2022-12-22 17:53:30')

In [21]:
dates = ["2022-12-22","2022-12-23","2022-12-24"]
pd.to_datetime(dates)

DatetimeIndex(['2022-12-22', '2022-12-23', '2022-12-24'], dtype='datetime64[ns]', freq=None)

In [22]:
pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')

datetime.datetime(1300, 1, 1, 0, 0)

In [23]:
pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')

NaT

In [24]:
pd.to_datetime(["2020-01-01 01:00 -01:00", dt.datetime(2020, 1, 1, 3, 0)])

DatetimeIndex(['2020-01-01 01:00:00-01:00', '2020-01-01 02:00:00-01:00'], dtype='datetime64[ns, pytz.FixedOffset(-60)]', freq=None)

In [25]:
dates = pd.Series(["23rd Dec, 1990", "December 12th, 1950", "What is date?", "22-12-09"])
dates

0         23rd Dec, 1990
1    December 12th, 1950
2          What is date?
3               22-12-09
dtype: object

In [26]:
pd.to_datetime(dates, errors="coerce")

0   1990-12-23
1   1950-12-12
2          NaT
3   2009-12-22
dtype: datetime64[ns]

In [27]:
pd.to_datetime(dates, errors="ignore")

0         23rd Dec, 1990
1    December 12th, 1950
2          What is date?
3               22-12-09
dtype: object

In [28]:
pd.to_datetime(['2018-10-26 12:00 -0500', '2018-10-26 13:00 -0500'])

DatetimeIndex(['2018-10-26 12:00:00-05:00', '2018-10-26 13:00:00-05:00'], dtype='datetime64[ns, pytz.FixedOffset(-300)]', freq=None)

In [29]:
pd.to_datetime(['2020-10-25 02:00 +0200', '2020-10-25 04:00 +0100'])

Index([2020-10-25 02:00:00+02:00, 2020-10-25 04:00:00+01:00], dtype='object')

In [30]:
unixtime=[12344563, 23456323, 34567534, 23483922]

In [31]:
pd.to_datetime(unixtime, unit="s")

DatetimeIndex(['1970-05-23 21:02:43', '1970-09-29 11:38:43',
               '1971-02-05 02:05:34', '1970-09-29 19:18:42'],
              dtype='datetime64[ns]', freq=None)

### Create Range in the form of Date pd.date_range()

In [32]:
times = pd.date_range(start = "2019-12-22", end = "2022-12-22", freq="H")

In [33]:
times

DatetimeIndex(['2019-12-22 00:00:00', '2019-12-22 01:00:00',
               '2019-12-22 02:00:00', '2019-12-22 03:00:00',
               '2019-12-22 04:00:00', '2019-12-22 05:00:00',
               '2019-12-22 06:00:00', '2019-12-22 07:00:00',
               '2019-12-22 08:00:00', '2019-12-22 09:00:00',
               ...
               '2022-12-21 15:00:00', '2022-12-21 16:00:00',
               '2022-12-21 17:00:00', '2022-12-21 18:00:00',
               '2022-12-21 19:00:00', '2022-12-21 20:00:00',
               '2022-12-21 21:00:00', '2022-12-21 22:00:00',
               '2022-12-21 23:00:00', '2022-12-22 00:00:00'],
              dtype='datetime64[ns]', length=26305, freq='H')

### Importing Stock data from data_reader

In [34]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\amanroland\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in c:\users\amanroland\anaconda3\lib\site-packages (from pandas-datareader) (1.4.2)
Requirement already satisfied: lxml in c:\users\amanroland\anaconda3\lib\site-packages (from pandas-datareader) (4.8.0)
Requirement already satisfied: requests>=2.19.0 in c:\users\amanroland\anaconda3\lib\site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\amanroland\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in c:\users\amanroland\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\amanroland\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\amanroland\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\amanroland\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\amanroland\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2022.5.18.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\amanroland\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\amanroland\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.3)

In [35]:
from pandas_datareader import data

In [36]:
company = "MSFT"
start = "2019-01-01"
end = "2019-12-31"

In [37]:
stocks=data.DataReader(name=company, data_source="yahoo", start=start, end=end)

In [38]:
stocks

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,102.400002,100.440002,101.290001,101.570000,33173800.0,97.580017
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300.0,97.147705
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100.0,93.573853
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600.0,97.925880
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100.0,98.050766
...,...,...,...,...,...,...
2019-12-24,157.710007,157.119995,157.479996,157.380005,8989200.0,153.433243
2019-12-26,158.729996,157.399994,157.559998,158.669998,14520600.0,154.690918
2019-12-27,159.550003,158.220001,159.449997,158.960007,18412800.0,154.973648
2019-12-30,159.020004,156.729996,158.990005,157.589996,16348400.0,153.637985
2019-12-31,157.770004,156.449997,156.770004,157.699997,18369400.0,153.745224

In [39]:
stocks.loc["2019-12-26"]

High         1.587300e+02
Low          1.574000e+02
Open         1.575600e+02
Close        1.586700e+02
Volume       1.452060e+07
Adj Close    1.546909e+02
Name: 2019-12-26 00:00:00, dtype: float64

In [40]:
stocks.iloc[200]

High         1.409900e+02
Low          1.395300e+02
Open         1.407900e+02
Close        1.404100e+02
Volume       2.075160e+07
Adj Close    1.364246e+02
Name: 2019-10-16 00:00:00, dtype: float64

In [41]:
stocks.loc["2019-12-01":"2019-12-31"]

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-02,151.830002,148.320007,151.809998,149.550003,27418400.0,145.799591
2019-12-03,149.429993,146.649994,147.490005,149.309998,24066000.0,145.565628
2019-12-04,150.179993,149.199997,150.139999,149.850006,17574700.0,146.092087
2019-12-05,150.320007,149.479996,150.050003,149.929993,17869100.0,146.170074
2019-12-06,151.869995,150.270004,150.990005,151.750000,16403500.0,147.944458
2019-12-09,152.210007,150.910004,151.070007,151.360001,16687400.0,147.564209
2019-12-10,151.889999,150.759995,151.289993,151.130005,16476100.0,147.340012
2019-12-11,151.869995,150.330002,151.539993,151.699997,18856600.0,147.895676
2019-12-12,153.440002,151.020004,151.649994,153.240005,24612100.0,149.397110
2019-12-13,154.889999,152.830002,153.000000,154.529999,23845400.0,150.654709
2019-12-16,155.899994,154.820007,155.110001,155.529999,24144200.0,151.629623
2019-12-17,155.710007,154.449997,155.449997,154.690002,25425600.0,150.810684
2019-12-18,155.479996,154.179993,154.300003,154.369995,24129200.0,150.498764
2019-12-19,155.770004,153.750000,154.000000,155.710007,24958900.0,151.805130
2019-12-20,158.490005,156.289993,157.350006,157.410004,53477500.0,153.462509
2019-12-23,158.119995,157.270004,158.119995,157.410004,17718200.0,153.462509
2019-12-24,157.710007,157.119995,157.479996,157.380005,8989200.0,153.433243
2019-12-26,158.729996,157.399994,157.559998,158.669998,14520600.0,154.690918
2019-12-27,159.550003,158.220001,159.449997,158.960007,18412800.0,154.973648
2019-12-30,159.020004,156.729996,158.990005,157.589996,16348400.0,153.637985
2019-12-31,157.770004,156.449997,156.770004,157.699997,18369400.0,153.745224

In [42]:
stocks.truncate(before="2019-12-05", after="2019-12-15")

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-05,150.320007,149.479996,150.050003,149.929993,17869100.0,146.170074
2019-12-06,151.869995,150.270004,150.990005,151.750000,16403500.0,147.944458
2019-12-09,152.210007,150.910004,151.070007,151.360001,16687400.0,147.564209
2019-12-10,151.889999,150.759995,151.289993,151.130005,16476100.0,147.340012
2019-12-11,151.869995,150.330002,151.539993,151.699997,18856600.0,147.895676
2019-12-12,153.440002,151.020004,151.649994,153.240005,24612100.0,149.397110
2019-12-13,154.889999,152.830002,153.000000,154.529999,23845400.0,150.654709

### Time delta

In [43]:
timeA = pd.Timestamp("2019-12-22 17:53:20")
timeB = pd.Timestamp("2019-12-23 17:53:20")

In [44]:
timeB-timeA

Timedelta('1 days 00:00:00')

In [45]:
pd.Timedelta(weeks=10, days=2, hours=3, minutes=23)

Timedelta('72 days 03:23:00')

In [46]:
data = {"ID": [1,2,3,4,5], "start_date":['12 dec 1990', '12 dec 1990', '12 dec 1990', '12 dec 1990', '12 dec 1990'], "end_date":['12 dec 1990', '15 dec 1990', '13 dec 1990', '19 dec 1990', '15 dec 1990']}

In [47]:
df = pd.DataFrame.from_dict(data)
df

   ID   start_date     end_date
0   1  12 dec 1990  12 dec 1990
1   2  12 dec 1990  15 dec 1990
2   3  12 dec 1990  13 dec 1990
3   4  12 dec 1990  19 dec 1990
4   5  12 dec 1990  15 dec 1990

In [48]:
df["start_date"] = pd.to_datetime(df["start_date"])
df["end_date"] = pd.to_datetime(df["end_date"])

In [49]:
df

   ID start_date   end_date
0   1 1990-12-12 1990-12-12
1   2 1990-12-12 1990-12-15
2   3 1990-12-12 1990-12-13
3   4 1990-12-12 1990-12-19
4   5 1990-12-12 1990-12-15

In [50]:
df["time"] = df.end_date - df.start_date

In [51]:
df

   ID start_date   end_date   time
0   1 1990-12-12 1990-12-12 0 days
1   2 1990-12-12 1990-12-15 3 days
2   3 1990-12-12 1990-12-13 1 days
3   4 1990-12-12 1990-12-19 7 days
4   5 1990-12-12 1990-12-15 3 days

### strptime and strftime

In [52]:
dt_string = "2019/07/23 04:32:51"

In [53]:
dt_date = dt.datetime.strptime(dt_string,"%Y/%m/%d %H:%M:%S")
dt_date

datetime.datetime(2019, 7, 23, 4, 32, 51)

In [54]:
print(type(dt.datetime.strptime(dt_string,"%Y/%m/%d %H:%M:%S")))

<class 'datetime.datetime'>

In [55]:
curr = dt.datetime.now()
curr

datetime.datetime(2022, 8, 30, 19, 41, 23, 297271)

In [56]:
req_format = dt.datetime.strftime(curr,"%Y/%m/%d %H:%M:%S")
print(req_format)

2022/08/30 19:41:23

In [57]:
print(type(req_format))

<class 'str'>

### Resample

In [58]:
index = pd.date_range('2/1/2020', periods=15, freq='T')
df = pd.DataFrame(data=range(15), index=index, columns=['count'])
df

                     count
2020-02-01 00:00:00      0
2020-02-01 00:01:00      1
2020-02-01 00:02:00      2
2020-02-01 00:03:00      3
2020-02-01 00:04:00      4
2020-02-01 00:05:00      5
2020-02-01 00:06:00      6
2020-02-01 00:07:00      7
2020-02-01 00:08:00      8
2020-02-01 00:09:00      9
2020-02-01 00:10:00     10
2020-02-01 00:11:00     11
2020-02-01 00:12:00     12
2020-02-01 00:13:00     13
2020-02-01 00:14:00     14

In [59]:
df.resample('5T').sum()

                     count
2020-02-01 00:00:00     10
2020-02-01 00:05:00     35
2020-02-01 00:10:00     60

In [60]:
df.resample('5T', closed='right').sum()

                     count
2020-01-31 23:55:00      0
2020-02-01 00:00:00     15
2020-02-01 00:05:00     40
2020-02-01 00:10:00     50

In [61]:
df.resample('5T', closed='left').sum()

                     count
2020-02-01 00:00:00     10
2020-02-01 00:05:00     35
2020-02-01 00:10:00     60

In [62]:
index = pd.period_range('1/1/2020', periods=3, freq='Q')
df = pd.DataFrame(data=range(1, 4), index=index, columns=['count'])
df

        count
2020Q1      1
2020Q2      2
2020Q3      3

In [63]:
df.resample('M', convention='start').sum()

         count
2020-01    1.0
2020-02    NaN
2020-03    NaN
2020-04    2.0
2020-05    NaN
2020-06    NaN
2020-07    3.0
2020-08    NaN
2020-09    NaN

In [64]:
df.resample('M', convention='end').sum()

         count
2020-03    1.0
2020-04    NaN
2020-05    NaN
2020-06    2.0
2020-07    NaN
2020-08    NaN
2020-09    3.0

In [65]:
index = pd.date_range('2/1/2020', periods=9, freq='3T')
df = pd.DataFrame(data=range(9), index=index, columns=['count'])
df

                     count
2020-02-01 00:00:00      0
2020-02-01 00:03:00      1
2020-02-01 00:06:00      2
2020-02-01 00:09:00      3
2020-02-01 00:12:00      4
2020-02-01 00:15:00      5
2020-02-01 00:18:00      6
2020-02-01 00:21:00      7
2020-02-01 00:24:00      8

In [66]:
df.resample('7T', label='right', closed='right').sum()

                     count
2020-02-01 00:00:00      0
2020-02-01 00:07:00      3
2020-02-01 00:14:00      7
2020-02-01 00:21:00     18
2020-02-01 00:28:00      8